<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	">


	<!-- This is a datasource -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="ds">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/testdb" />
		<property name="username" value="root" />
		<property name="password" value="test" />
	</bean>

	<!-- This is a SesssionFactory child class -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="sessionFactory">
		<property name="datasource" ref="ds" />
		<property name="hibernateProperties">

			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL7Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>

		<property name="annotatedClasses">
			<list>
				<value>com.krishnaraddi.SpringOrm.entity.Employee</value>
			</list>
		</property>

	</bean>
	<!-- This is a hibernateteplate where it is used in the class -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		id="hibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- This is a dao class where we need to implement the properties of a 
		spring orm -->
	<bean class="com.krishnaraddi.SpringOrm.dao.EmployeeDao"
		id="empdao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>


</beans>